.order-container {

    background: url('../assets/istockphoto-475352876-612x612.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .order-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
  .order-form{
    max-width: 600px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: transparent;
    backdrop-filter: blur(50px);
    border-radius: 8px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    color: white;
  }
  input::placeholder,textarea::placeholder{
    color: white;
  }
  
  textarea {
    resize: vertical;
    height: 80px;
  }
  
  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  @media screen and (max-width: 700px) {
    .order-form{
        width: 100%;
    }
    .order-wrapper{
        height: 120vh;
    }
  }